.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tag {
  border: 1px solid black;
  flex-basis: 20%;
  margin-bottom: 40px;
  border-radius: 20px;
  background: black;
  color: white;
  box-shadow: 4px 4px 4px grey;
}

.tag > h2, h4, h5 {
  text-align: center;
}
